.information-main-container{
    position:absolute;        
    width: 100%;
    height: 1024px;
    gap: 48px;
    opacity: 0px;    
    border-radius: 20px;
    background: #F8F8F8;   
    opacity: 0px;    
}

.information-main-frame{
    display: flex;
    width: 77.16%;
    height: 756px;
    padding: 5px;
    opacity: 0px;       
    margin: auto;    
}

.information-main-text{    
    width: 100%;        
    font-family:"poppins";
    font-weight: 600;    
    font-size: 1.5em;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FF445F;    
}

.information-content-frame{    
    width: 60%;
    height: 736px;
    margin: auto;
    padding: 10px;    
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;    
    box-shadow: 4px 7px 18px 7px #0000000D;
}


.information-grid-frame{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 98%;
    height: 309px;
    /*padding: 10px;*/
    gap: 16px;
    opacity: 0px;        
    margin: auto;
    justify-content: center;
}

.information-rigth-content-frame{    
    width: 38%;
    height: 721px;
    margin: auto;
    justify-content: center;    
    padding: 10px;    
    border: 1px 0px 0px 0px;
    opacity: 0px;        
}

.information-rigth-item-frame{    
    width: 95%;
    height: 325px;
    margin: auto;
    transform: translateY(1%);        
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 10px;
    background: #FFF0F1;    
    box-shadow: 4px 7px 18px 7px #0000000D;    
}

.information-rigth-content-item-frame{    
    width: 100%;
    height: 212px;
    position: fixed;        
    bottom: 0;
    border: 1px 0px 0px 0px;
    opacity: 0px;        
}

.information-rigth-bottom-item-frame{    
    width: 95%;
    height: 155px;
    margin: auto;
    margin-top: 10%;      
    border: 1px 0px 0px 0px;
    opacity: 0px;        
}

.information-rigth-bottom-text{
    font-family: "Poppins", sans-serif;
    /*font-size: 10px;*/
    font-weight: 600;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}

.information-rigth-bottom-text-p{
    font-family: "Poppins", sans-serif;
    /*font-size: 10px;*/
    font-weight: 400;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}



.information-back-button-frame{
    position: relative;
    margin-top: 2%;    
    left: 1%;
    width: 127px;
    height: 44px;
    gap: 10px;
    opacity: 0px;        
}

.information-back-button{
    width: 100%;
    height: 100%;
    margin: auto;    
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;    
}

.information-back-button-text{
    width: 100%;
    /*height: 21px;*/
    gap: 0px;
    opacity: 0px;
    font-family: '"Poppins", sans-serif';
    /*font-size: 14px;*/
    font-weight: 600;
    line-height: 1.3em;
    text-align: left;
    color: #443D3C;
    margin: auto;    
}

.information-notification-frame{
    display: grid;
    width: 98%;
    height: 315px;
    margin: auto;
    transform: translateY(6%);
    gap: 0px;
    border-radius: 10px;    
    opacity: 0px;    
    justify-content: center;        
}

.information-notification-text{
    font-family: '"Poppins", sans-serif';
    /*font-size: 14px;*/
    font-weight: 400;
    line-height: 1.3em;
    text-align: left;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.01em;
    color: #443D3C;
}


.information-intervention-button-frame{
    position: relative;        
    width: 75%;
    height: 35px;
    gap: 10px;
    opacity: 0px;        
}

.information-intervention-button{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;    
    cursor: pointer;
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    background: #FF445F;    

}

.information-intervention-button-text{
    width: 100%;
    /*height: 21px;*/
    gap: 0px;
    opacity: 0px;
    font-family: '"Poppins", sans-serif';
    /*font-size: 14px;*/
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
    color: white;
    margin: auto;    
}

.information-bottom-frame{    
    width: 100%;
    /*height: 35px;*/
    height: 61px;
    /*top: 963px;*/
    position:absolute;
    bottom: 0;
    gap: 10px;
    opacity: 0px;
    background: #000000;
    text-align: center;
    border-radius: 0px 0px 10px 10px;       
}

.information-probleme-text{
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}
