

/*
p{
    font-size: 1.5em;
    line-height: 1.3 em;
}
*/

.information-main-container{
    position:absolute;    
    /*z-index: auto;*/
    width: 100%;
    height: 1024px;
    gap: 48px;
    opacity: 0px;
    /*top: 170px;    */
    /*left: 170px;          */
    border-radius: 20px;
    background: #F8F8F8;   
    opacity: 0px;    

}

.information-main-frame{
    display: flex;
    width: 77.16%;
    height: 756px;
    padding: 5px;
    opacity: 0px;       
    margin: auto;
    /*justify-items: center;*/
    /*text-align: center;*/     
    border: 1px solid red; /*to remove*/
}

.information-main-text{
    /*width: 420px; */
    width: 100%;
    /*height: 20%; /*no*/
    /*padding: 5px;        */
    font-family:"poppins";
    font-weight: 600;    
    font-size: 1.5em;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FF445F;
    border: 1px solid black; /*to remove*/   
}

.information-content-frame{    
    width: 60%;
    height: 736px;
    margin: auto;
    padding: 10px;    
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 4px 7px 18px 7px #0000000D;
}


.information-grid-frame{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 98%;
    height: 309px;
    /*padding: 10px;*/
    gap: 16px;
    opacity: 0px;    
    border: 1px solid blue;        
    margin: auto;
    justify-content: center;
}

.information-rigth-content-frame{    
    width: 38%;
    height: 721px;
    margin: auto;
    justify-content: center;    
    padding: 10px;    
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid green;    
}

.information-rigth-item-frame{    
    width: 95%;
    height: 325px;
    margin: auto;
    transform: translateY(1%);        
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 10px;
    background: #FFF0F1;    
    box-shadow: 4px 7px 18px 7px #0000000D;
    border: 1px solid yellow;    
}

.information-rigth-content-item-frame{    
    width: 100%;
    height: 212px;
    position: fixed;        
    bottom: 0;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid orchid;    
}

.information-rigth-bottom-item-frame{    
    width: 95%;
    height: 155px;
    margin: auto;
    margin-top: 10%;      
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid darkblue;    
}

.information-rigth-bottom-text{
    font-family: "Poppins", sans-serif;
    /*font-size: 10px;*/
    font-weight: 600;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}

.information-rigth-bottom-text-p{
    font-family: "Poppins", sans-serif;
    /*font-size: 10px;*/
    font-weight: 400;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}



.information-back-button-frame{
    position: relative;
    margin-top: 2%;    
    left: 1%;
    width: 127px;
    height: 44px;
    gap: 10px;
    opacity: 0px;    
    border: 1px solid black;    
}

.information-back-button{
    width: 100%;
    height: 100%;
    margin: auto;    
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    border: 1px solid #FF445F;

}

.information-back-button-text{
    width: 100%;
    /*height: 21px;*/
    gap: 0px;
    opacity: 0px;
    font-family: '"Poppins", sans-serif';
    /*font-size: 14px;*/
    font-weight: 600;
    line-height: 1.3em;
    text-align: left;
    color: #443D3C;
    margin: auto;
    border: 1px solid #FF445F;

}

.information-notification-frame{
    width: 98%;
    height: 315px;
    margin: auto;
    transform: translateY(6%);
    gap: 0px;
    border-radius: 10px;    
    opacity: 0px;    
    justify-content: center;
    display: grid;
    border: 1px solid #FF445F;
}


/*
ul{
    list-style-image:
    url("../../../src/assets/images/redok.png");
    margin-top: 0;  
    border: 1px solid black;    
}

li#euro{
    list-style-image:
    url("../../../src/assets/images/cercle-euro.png");
}
*/

.information-notification-text{
    font-family: '"Poppins", sans-serif';
    /*font-size: 14px;*/
    font-weight: 400;
    line-height: 1.3em;
    text-align: left;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.01em;
    color: #443D3C;
}


.information-intervention-button-frame{
    position: relative;        
    width: 75%;
    height: 35px;
    gap: 10px;
    opacity: 0px;    
    border: 1px solid black;    
}

.information-intervention-button{
    width: 100%;
    height: 100%;
    margin: auto;    
    cursor: pointer;
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    background: #FF445F;    

}

.information-intervention-button-text{
    width: 100%;
    /*height: 21px;*/
    gap: 0px;
    opacity: 0px;
    font-family: '"Poppins", sans-serif';
    /*font-size: 14px;*/
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
    color: white;
    margin: auto;    
}

.information-bottom-frame{    
    width: 100%;
    /*height: 35px;*/
    height: 61px;
    /*top: 963px;*/
    position:absolute;
    bottom: 0;
    gap: 10px;
    opacity: 0px;
    background: #000000;
    text-align: center;
    border-radius: 0px 0px 10px 10px;       
}

.information-probleme-text{
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}

.information-red-text{
    color: #FF445F;
}

