.main-container{    
    /*width: 1440px;*/
    /*height: 870.67px;*/
    gap: 48px;
    opacity: 0px;
    top: 170px;    
    left: 170px;          
    border-radius: 20px;
    background: #F8F8F8;   
    opacity: 0px;    

}

.nav-bar{
    display: flex;
    /*width: 1440px;*/
    height: 35px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
    background: #FFFFFF;
}

.logo-frame{
    width: 125px;
    height: 35px;
    gap: 8px;
    opacity: 0px;
    background: #443D3C;      
    display: flex;    
}

.logo{
    width: 69px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    margin: auto;        
}


.contact-frame{
    width: 125px;
    height: 35px;
    display: flex;    
    gap: 0px;
    opacity: 0px;
    border-radius: 0px 10px 0px 0px;
    background: #FF445F;
}

.contact-text{
    width: 65px;
    height: 30px;
    gap: 0px;
    opacity: 0px;    
    font-family: 'Catamaran';
    font-size: 18px;
    font-weight: 800;
    line-height: 29.52px;
    margin: auto;
    color: #FFFFFF;


}


.main-frame{
    width: 1066px;
    /*height: 761.67px;*/
    padding: 5px;
    opacity: 0px;       
    margin: auto;
    justify-items: center;
    text-align: center;
    display: grid;        
    border: 1px solid red; /*to remove*/
}

.main-text{
    width: 494px; /*no*/
    height: 25px; /*no*/
    padding: 5px;        
    font-family:"poppins";
    font-weight: 700;
    font-size: 34px;
    line-height: 25px;
    color: #000000;
    border: 1px solid black; /*to remove*/    
}

.line-frame{
    width: 80px;
    height: 16.67px;        
    border: 1px solid black; /*to remove*/            
    padding: 5px;
}

.content-frame{
    width: 969px;
    /*height: 400px;*/
    margin-top: 20px;
    padding: 5px 0px 5px 0px;
    /*margin-bottom: 200px;*/
    /*gap: 10px;*/
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 4px 7px 18px 7px #0000000D;


}

.grid-frame{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 893px;
    height: Hug (396px)px;
    padding: 10px;
    gap: 16px;
    opacity: 0px;    
    border: 1px solid blue;        
    margin: auto;
    justify-content: center;
}

.card{
    display: flex;       
    /*width: 423px;*/
    height: 35px;
    padding: 5px;
    gap: 0px;
    border-radius: 10px;
    justify-content: space-between;
    opacity: 0px;
    background: #F2F2F2;
}


.card-text-frame{    
    justify-content: center;
    display:flex;
    width: 367px;
    /*height: 12px;*/
    padding: 12px 0px 13px 0px;
    gap: 0px;
    opacity: 0px;    
    margin: auto;
    text-align: left;
    border: 1px solid #000000;
}

.card-text{    
    width: 367px;
    height: 13px;
    top: 12px;
    gap: 0px;
    opacity: 0px;        
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;    
    margin: auto;
}


.card-icon-frame{    
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    margin: auto;
}


.card-icon{        
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    gap: 0px;
    opacity: 0px;
}

.back-button-frame{
    /*width: 873px;*/
    height: 37px;
    gap: 10px;
    opacity: 0px;    
    border: 1px solid black;
}

.back-button{
    width: 207px;
    height: 37px;
    /*padding: 16px;*/
    gap: 8px;
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    border: 1px solid #FF445F;

}

.back-button-text{
    width: 127px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: #FF445F;
    margin: auto;
    border: 1px solid #FF445F;

}

.notification-frame{
    width: 969px;
    height: 90px;
    gap: 0px;
    border-radius: 10px;    
    opacity: 0px;
    margin-top: 45px;
    margin-bottom: 34px;    
    background: #DEFAE9;
}

.bottom-frame{    
    width: 100%;
    height: 35px;
    top: 963px;
    gap: 10px;
    opacity: 0px;
    background: #000000;
    text-align: center;
    /*padding: 71px 685px 71px 685px;*/ /*21px;*/ 
    border-radius: 0px 0px 20px 20px;       
}

.bottom-text{
    font-family: 'Aller';
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24.14px;    
    color: #FFFFFF;
}

.red-text{
    color: #FF445F;
}

