.domaine-card{
    justify-items: center;    
    width: 80%;
    /*height: 150px;*/
    aspect-ratio: 1 / 1; /* Assure un rapport largeur/hauteur de 1 */
    border-radius: 10px;    
    padding: 15px 17px 15px 17px;
    gap: 10px;    
    opacity: 0px;
    background: #FFF0F1;
    box-shadow: 4px 7px 18px 7px #0000000D;
}

.domaine-card:hover{
    background: #FF445F;         
    img{                                 
        filter: invert(1) sepia(1) saturate(5000%) hue-rotate(320deg) brightness(100);
    }
    
}


.domaine-card-icon-frame{    
    width: 100px;
    height: 100px;    
    padding: 10px;
    gap: 10px;
    opacity: 0px;

}


.domaine-card-icon{    
    width: 80px;
    height: 80px;
    gap: 0px;
    border: 0.5px 0px 0px 0px;
    opacity: 0px;
}


.domaine-card-text{
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins";
    font-size: 0.875em;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: white;
    background: #FF445F;    
}



