.condition-element{
    height: 32px;
    border: 1px solid yellowgreen;
    display: flex;        
}

.label-checkbox{
    font-size: 0.75em;
    margin: auto;
    width: 90%;
    text-align: left;
    border: 1px solid black;
}