/*
p{
    font-size: 1.5em;
    line-height: 1.3 em;
}
*/

.main-container{
    position:absolute;    
    width: 100%;
    height: 1024px;
    gap: 48px;    
    border-radius: 20px;
    background: #F8F8F8;   
    opacity: 0px;        
}

.nav-bar{
    display: flex;
    width: 100%;
    height: 61px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
    background: #FFFFFF;
}

.logo-frame{
    width: 9.151%;
    /*height: 100%;    */
    /*gap: 8px;*/
    opacity: 0px;
    background: #443D3C;      
    display: flex;    
}

.bottom-logo-frame{
    width: 9.151%;
    height: 100%;    
    /*gap: 8px;*/
    opacity: 0px;      
    display: flex;
    margin: auto;    
}

.logo-layout{
    width: 55.2%;
    height: 24px;
    margin: auto;
    justify-content: center;
    display: flex;
    border: 1px solid white; /*to remove*/    
}

.logo{
    width: 100%;
    /*height: 100%;*/
    gap: 0px;
    opacity: 0px;
    margin: auto;        
}


.contact-frame{
    width: 9.151%;
    height: 100%;
    display: flex;    
    justify-items: center;    
    border-radius: 0px 10px 0px 0px;
    background: #FF445F;
}

.contact-text{            
    font-family: 'Catamaran', sans-serif;    
    font-weight: 800;
    text-align: center;
    margin: auto;
    line-height: 29.52px;
    color: #FFFFFF;
    border: 1px solid black; /*to remove*/    

}


.main-frame{   
    display: flex;
    width: 77.16%;
    height: 825px;
    /*padding: 5px; */
    margin: auto;
    /*top: 100px;*/
    padding: 10px 0px 0px 0px;
    gap: 24px; 
    margin-top: 40px;
    border: 1px solid red; /*to remove*/            
}

.main-text{    
    width: 100%;        
    font-family:"poppins", sans-serif;
    font-weight: 600;    
    font-size: 1.125em;
    letter-spacing: 0.01em;
    text-align: left;
    margin: auto;
    color: #FF445F;
    border: 1px solid black; /*to remove*/   
}

.line-frame{    
    display: flex;
    width: 80px;
    height: 16.67px;        
    margin: auto;    
    border: 1px solid black; /*to remove*/            
}

.content-frame{
    justify-content: center;          
    align-items: center;
    width: 60%;
    height: 736px;        
    margin: auto;   
    gap:24px; 
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 4px 7px 18px 7px #0000000D;
    padding: 24px 0px 0px 0px;
}


/*
input{    
    position:absolute;
    width: 92%; 
    height: 90%;
    top:0;
}*/


/*
.custom-checkbox .checkmark:after{
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
*/

.rigth-content-frame{    
    /*display: grid;*/
    width: 38%;
    height: 721px;
    margin-top: 30px;    
    justify-content: center;    
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid green;    
}

.rigth-item-frame{
    display: grid;    
    width: 79%;
    height: 364.67px;
    justify-items: center;    
    margin: auto;    
    margin-bottom: 20px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-radius: 10px;
    background: #FFF0F1;    
    box-shadow: 4px 4px 7px 7px #0000000D;
    border: 1px solid yellow;    
}


.rigth-content-items-frame{
    display: grid; 
    width: 100%;
    height: 184px;
    margin-bottom: -52px;    
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid orchid;    
}

.rigth-content-items-ul{
    display: flex;
    /*transform: translateX(-6%);*/
    border: 1px solid red;

}

.assistance-frame{
    display: grid;
    width: 100%;
    height: 155px; 
    transform: translateY(10%);   
    margin-bottom: 50px;    
    gap: 10px;   
    background: #FFF0F1;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 7px #0000000D;

}

.assistance-text-frame{
    display: flex;
    /*width: 355px;*/
    height: 44px;
    align-items: center;
    border: 1px solid black;  
    margin: auto;    
}
.assistance-text{
    /*width: 355px;*/
    height: 24px;    
    font-family: 'Poppins' , sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 24.3px;
    letter-spacing: -0.0125em;
    text-align: left;        
    border: 1px solid orchid;  
    color: #FF445F;  
}

.assistance-button{
    display: flex;
    width: 45%;
    height: 53px;
    margin: auto;    
    gap: 8px;
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FF445F;
    border: 1px solid #FF445F
}

.assistance-button-text{
    /*width: 132px;*/
    height: 21px;    
    font-family: 'Poppins', sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: white;
    margin: auto;

}

.rigth-bottom-item-frame{    
    width: 95%;
    height: 125px;
    margin: auto;
    margin-top: 10%;
    /*transform: translateY(-10%);    */
    /*margin-top: -105px;*/
    /*padding: 10px;*/
    /*margin-bottom: 200px;*/
    /*gap: 10px;*/    
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid darkblue;    
}

.rigth-bottom-text{
    font-family: 'Poppins',sans-serif;
    font-size: 0.625em;
    font-weight: 600;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}

.rigth-bottom-text-p{
    font-family: 'Poppins',sans-serif;
    font-size: 0.625em;
    font-weight: 400;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}

.back-button-frame{
    /*position: relative;    */
    left: 1%;
    width: 207px;
    height: 56px;
    gap: 10px;
    opacity: 0px;    
    border: 1px solid black;    
}

.back-button{
    width: 100%;
    height: 100%;
    margin: auto;
    /*padding: 16px;*/
    /*gap: 8px;*/
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    border: 1px solid #FF445F;

}

.back-button-text{
    width: 127px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins',sans-serif;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.3em;
    text-align: left;
    color: #FF445F;  
    margin: auto;
    border: 1px solid #FF445F;

}

.notification-frame{
    width: 98%;
    height: 315px;
    margin: auto;
    transform: translateY(6%);
    gap: 0px;
    border-radius: 10px;    
    opacity: 0px;    
    justify-content: center;
    display: grid;
    border: 1px solid #FF445F;
}

:root{
    --image-url: url("../../assets/images/redok.png");
}

ul.custom-unique-list{
    list-style-image: var(--image-url);
}

ul.custom-list{
    list-style: none;
    padding: 0;    
}

ul.custom-list{
    list-style-image: var(--image-url);
}

li#custom{
    list-style-image: var(--image-url);
    /*url("../../assets/images/cercle-euro.png");*/
}




.notification-text{
    font-family: 'Poppins',sans-serif;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: left;    
    letter-spacing: -0.01em;
    color: #443D3C;
}


.intervention-button-frame{
    position: relative;        
    width: 75%;
    height: 35px;
    gap: 10px;
    opacity: 0px;    
    border: 1px solid black;    
}

.intervention-button{
    width: 100%;
    height: 100%;
    margin: auto;
    /*padding: 16px;*/
    /*gap: 8px;*/
    border-radius: 43px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    background: #FF445F;    

}

.intervention-button-text{
    width: 100%;
    /*height: 21px;*/
    gap: 0px;
    opacity: 0px;
    font-family: 'Poppins',sans-serif;
    /*font-size: 14px;*/
    font-weight: 600;
    line-height: 1.3em;
    text-align: center;
    color: white;
    margin: auto;    
}

.bottom-frame{    
    width: 100%;
    /*height: 35px;*/
    height: 61px;
    /*top: 963px;*/
    position:fixed;
    bottom: 0;
    gap: 10px;
    opacity: 0px;
    background: #000000;
    text-align: center;
    /*padding: 71px 685px 71px 685px;*/ /*21px;*/ 
    border-radius: 0px 0px 10px 10px;       
}

.probleme-text{
    font-family: 'Poppins',sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1em;
    text-align: left;
    color: #443D3C;
}

:root {
    /* Définir les tailles de texte de base en rem */
    font-size: calc(0.5vw + 8px); /* Cette formule ajuste la taille du texte en fonction de la largeur de la fenêtre */
}

h1 {
    font-size: 1.125rem; /* 18px */
}

p {
    font-size: 0.875rem; /* 14px */
}

li {
    font-size: 0.75rem; /* 12px */
}

p.small-text {
    font-size: 0.625rem; /* 10px */
}

/* Media queries pour ajuster les tailles de texte pour des tailles d'écran spécifiques */
@media (max-width: 1200px) {
    :root {
        font-size: calc(0.5vw + 7px); /* Ajustement pour les écrans de taille moyenne */
    }
}

@media (max-width: 768px) {
    :root {
        font-size: calc(0.5vw + 6px); /* Ajustement pour les petits écrans */
    }
}

@media (max-width: 480px) {
    :root {
        font-size: calc(0.5vw + 5px); /* Ajustement pour les très petits écrans */
    }
}
